{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
</head>
<body>
    <div class="col-12" style="background-color: antiquewhite;">
        <h1 class="display-1">ACCORDION APP</h1>
    </div>
    <center>
    <div class="wrapper">
        <div class="accordion_wrap accordion_1">
            <button class="accordion" name="accordion-1">
                <div class="row">
                    <div class="col-8"><h1>Bio</h1></div>
                    <div class="col-2">
                        <a class='up' href='#' id="up1"><h2>&uarr;</h2></a>
                    </div>
                    <div class="col-2">
                        <a class='down' href='#' id="down1"><h2>&darr;</h2></a>
                    </div>
                </div>
            </button>
            <div class="panel">
                <h1>My Bio</h1> <br>
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Name:</th>
                        <td>Irham Trisna Ananto</td>
                      </tr>
                      <tr>
                        <th scope="row">Age:</th>
                        <td>18</td>
                      </tr>
                      <tr>
                        <th scope="row">Music Inspiration:</th>
                        <td>Ed Sheeran, Taeyeon, Park Hyo Shin, Coldplay</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        
        <div class="accordion_wrap accordion_2">
            <button class="accordion" name="accordion-2">
                <div class="row">
                    <div class="col-8"><h1>Accomplishment</h1></div>
                    <div class="col-2">
                        <a class='up' href='#' id="up2"><h2>&uarr;</h2></a>
                    </div>
                    <div class="col-2">
                        <a class='down' href='#' id="down2"><h2>&darr;</h2></a>                        
                    </div>
                </div>
            </button>
            <div class="panel">
                <h1>My Accomplishments</h1>
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Gita Bahana Nusantara</th>
                        <td>Member of National Choir, held by The Ministry of Education and Culture, prepared for the 73rd Indonesia's Independence Day.</td>
                        <td>2018</td>
                      </tr>
                      <tr>
                        <th scope="row">DKI Jakarta High School Choir Competition</th>
                        <td>1st Place at the Provincial level choir competition, held by the Department of Tourism and Culture</td>
                        <td>2017</td>
                      </tr>
                      <tr>
                        <th scope="row">DKI Jakarta High School Choir Competition</th>
                        <td>3rd Place at the Provincial level choir competition, held by the Department of Tourism and Culture</td>
                        <td>2018</td>
                      </tr>
                      <tr>
                        <th scope="row">UI Art War</th>
                        <td>3rd Place at The 8th UI Art War category vocal group, representing Faculty of Computer Science, held by The Department of Arts and Culture of BEM UI</td>
                        <td>2019</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="accordion_wrap accordion_3">
            <button class="accordion" name="accordion-3">
                <div class="row">
                    <div class="col-8"><h1>Mini-album Concept</h1></div>
                    <div class="col-2">
                        <a class='up' href='#' id="up3"><h2>&uarr;</h2></a>
                    </div>
                    <div class="col-2">
                        <a class='down' href='#' id="down3"><h2>&darr;</h2></a>
                    </div>
                </div>
            </button>
            <div class="panel">
                <h1><i>Page 0</i> (EP)</h1>
                <h5>Page 0 is the first extended play (EP) by Irham. It was released by East Entertainment on May 4, 2026. The album contains five songs, including The lead song "Tomorrow", and an instrumental track. The album is about Irham's first step to the music industry, his rough past life, and his desire to overcome all of that in the future.</h5>
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mencari Sebuah Harapan</td>
                        <td>This song tells about someone who's still learning about the meaning of life, in looking for a hope in the future. "Mencari Sebuah Harapan" is a medium-tempo ballad.</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Hujan</td>
                        <td>"Hujan" is a song that tells about Irham's past love life. It represents all people that being left out by their partner, only to return again in the future.</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>A Cold Night</td>
                        <td>"A Cold Night" is a ballad song that illustrate a man who spends his nights thinking about his past. This song is inspired by Irham's real past life, mainly focusing on his dad who passed away in 2019.</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Tomorrow</td>
                        <td>The lead single, "Tomorrow", is a bright song described as "lyrical, melodic and emotional lyrics". The lyrics itself tells about a message for all people that are experiencing their hard times to stay on and wait for a better tomorrow, and to tell that we will always there beside them.</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Wildflower</td>
                        <td>A song originated by South Korean singer-songwriter Park Hyo Shin, "Wildflower" is a ballad-metaphorical song. The meaning he is trying to deliver through this song depends on how the listener interprets, but most people sees it as a metaphor for how he had overcome all the hardships in his life like a wildflower blooming in harsh winter.</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Tomorrow <i>(inst.)</i></td>
                        <td>The instrumental for the lead song, Tomorrow</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="accordion_wrap accordion_4">
            <button class="accordion" name="accordion-4">
                <div class="row">
                    <div class="col-8"><h1>Contact</h1></div>
                    <div class="col-2">
                        <a class='up' href='#' id="up4"><h2>&uarr;</h2></a>                    
                    </div>
                    <div class="col-2">
                        <a class='down' href='#' id="down4"><h2>&darr;</h2></a>
                    </div>
                </div>
            </button>
            <div class="panel">
                <h1>Contacts</h1>
                <table class="table">
                    <tbody>
                      <tr>
                        <td><a href="https://www.instagram.com/irhamtrisna"><img src="{% static 'images/instagram1.png' %}" width="50%"></a></td>
                        <td><a href="https://www.linkedin.com/in/irhamtrisna-ananto/"><img src="{% static 'images/linkedin.png' %}" width="75%"></a></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </center>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'Script/accordion.js' %}"></script>
</body>
</html>