body {
  background-color: #13f5f5;
}

.accordion {
    background-color: #f5f513;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: antiquewhite;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 80%;
  }